asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
Flask==1.0.2
Flask-PyMongo==2.2.0
gunicorn==19.9.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==1.1.0
Jinja2>=2.10.1
lxml==4.2.5
MarkupSafe==1.1.0
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
parsel==1.5.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pymongo==3.7.2
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.7
queuelib==1.5.0
requests==2.20.1
requests-oauthlib==1.0.0
Scrapy==1.8.2
selenium==3.141.0
service-identity==18.1.0
six==1.11.0
splinter==0.10.0
tweepy==3.7.0
Twisted>=20.3.0
urllib3>=1.24.2
w3lib==1.19.0
werkzeug>=0.15.3
zope.interface==4.6.0
